p, p* {
  color: #666666;
  margin-left: 50px;
  padding-left: 20px;
  border-left: solid 25px #FF6A00;

}
.pageStyle {
  font-family: "Helvetica Neue",Arial, Helvetica,sans-serif;
  font-size: 18px;
  color: #7C3100;
  width: 900px;
  margin: 0 auto;
}
